html, body { background-color: pink; font-family: 'Open sans'; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLEFBQUEsSUFBSSxFQUFDLElBQUksQ0FBQSxFQUNQLGdCQUFnQixFQUFFLElBQUksRUFDdEIsV0FBVyxFQUFDLFdBQVcsR0FDeEIifQ== */

/*# sourceMappingURL=style.css.map */
